

body {
    background-color: black;
}

.content {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 52px;
}

.add-book {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-book-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
}

.x {
    display: flex;
    align-self: flex-start;
    margin-bottom: 15px;
}

.modal {
    min-width: 600px;
    min-height: 300px;
    padding: 30px;
    border-radius: 20px;
}

.modal::backdrop {
    background-color: black;
    opacity: .6;
}

.content {
    display: flex;
    flex-direction: column;
    
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px; 
    color: black;
    margin-top: 20px;
    padding: 20px; 
    border-radius: 10px; 
    justify-content: center; 
    align-items: center; 
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

.book-card {
    background-color: #f8f9fa; 
    padding: 15px;
    box-shadow: 0 4px 6px rgba(255, 254, 254, 0.456); 
    border-radius: 8px; 
    text-align: center;
    word-wrap: break-word; 
    min-width: 150px; 
    min-height: 200px;
    justify-content: center;
    align-items: center;
    border-left: 16px solid #3498db;
}

